
<!--
Corps par défaut de chaque page HTML
Intégrant d'office MaterializeCSS (css & js)
-->
<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title><?=\ProjetBlog\core\Config::SITE_TITLE?></title>

    <!--CSS-->
    <link rel="stylesheet" href="/app/assets/css/materialize.css"/>

</head>

<body>

<!-- Possibilité ajout contenu (titre...) -->

<main>
    <!--Ici se trouve le contenu de chaque page du site -->
    <?= /** @var string $content */
    $content ?>
</main>

<script type="text/javascript" src="/app/assets/js/materialize.js"></script>

</body>

