<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title><?=\ProjetBlog\core\Config::SITE_TITLE?></title>

    <!--CSS-->
    <link rel="stylesheet" href="/app/public/css/materialize.css"/>

</head>

<body>

<!-- Possibilité ajout contenu (titre...) -->

<main>

    <?= /** @var string $content */
    $content ?>
</main>

<script type="text/javascript" src="/app/public/js/materialize.js"></script>

</body>

